.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

h1 {
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

th:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.025)
}

table {
  margin-top: 25px;
}